## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: ebb36
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN2=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

## ebb36
[mcu ebb36]
canbus_uuid: 6d83abece3d0

[probe]
pin: ebb36:PROBE_2
x_offset: -19.0
y_offset: 14.0
# z_offset: 8.975 # polymaker black abs + black textured PEI
z_offset: 9.025 # no name red abs + black textured PEI
speed: 3
lift_speed: 7
samples: 5
samples_result: median
sample_retract_dist: 2
samples_tolerance: 0.01
samples_tolerance_retries: 10

## adxl345
[adxl345]
cs_pin: ebb36: ADXL_CS
spi_software_sclk_pin: ebb36: PB10
spi_software_mosi_pin: ebb36: PB11
spi_software_miso_pin: ebb36: PB2
axes_map: x,y,z

## ebb36
[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: ebb36

[fan] # part cooling fans
pin: ebb36:FAN2
kick_start_time: 0.5

[heater_fan hotend_fan] # hotend fan
pin: ebb36:FAN1
kick_start_time: 0.5
heater: extruder
heater_temp: 45.0

[extruder]
step_pin: ebb36:EXT_STEP
dir_pin: !ebb36:EXT_DIR
enable_pin: !ebb36:EXT_EN
rotation_distance: 5.7
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
#Hotend section
heater_pin: ebb36:HE0
sensor_type: Generic 3950
sensor_pin: ebb36:TH0
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 150
max_extrude_cross_section: 5
max_extrude_only_distance: 150.0
control: pid
pid_Kp: 39.018
pid_Ki: 13.690
pid_Kd: 27.801

[tmc2209 extruder]
uart_pin: ebb36:EXT_UART
interpolate: true
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3
